<div class="dept_telephone_fields" style="margin-bottom: 10px">
   

		<span class="fields">
			<%= f.text_field :number, :size => 20 %>
	    	<%= link_to_remove_fields "<span style=\"text-decoration:none; color:#FFFFFF\";>Remover</span>".html_safe, f  %>
		</span>

</div>
