
<script type="text/javascript" charset="utf-8">


</script>

<div class="splitcontentright">
	<div class="box tabular">
		<div id="all_attributes">
			
<h1> Gráficos </h1>

<div id="orders_chart" style="width:560px; heigth:300px;">
	
	
	
</div>
	

		</div>
	</div>
</div>










